.background.zapscreen{
    justify-content: flex-start;
    flex-direction: column;
}

.title{
    width: 256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}

.title img{
    width: 52px;
    height: 60px;
}

.bottom-bar{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.end-messege{
    margin-bottom: 10px;
    width: 222px;
    text-align: center;
}

.bottom-bar span{
    margin-bottom: 10px;
}

.card{
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 25px;
}

.card div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
}

.question-forget{
    text-decoration-line: line-through;
    color:#FF3030
}


.question-almost-forgot{
    text-decoration-line: line-through;
    color: #FF922E;
}

.question-recall{
    text-decoration-line: line-through;
    color: #2FBE34;
}

.card ion-icon{
    font-size: 26px;
}

.card:last-child{
    margin-bottom: 100px;
}

.content{
    width: 300px;
    height: 150px;
    position: relative;
    margin-bottom: 25px;
}

.content img{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.content:last-child{
    margin-bottom: 100px;
}

.face{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: absolute;
    padding: 15px;
    font-weight: 400;
    font-size: 18px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back{
    transform: rotateY(180deg);
}

.fliped .front{
    transform: rotateY(-180deg);
}

.fliped .back{
    transform: rotateY(0deg);
}

.deck{
    margin-top: 50px;
}

.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 85px;
    height: 37px;
    border-radius: 5px;
    border: hidden;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.forget{
    background-color: #FF3030;
}


.almost-forgot{
    background-color: #FF922E;
}

.recall{
    background-color: #2FBE34;
}

.answers-list{
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.answers-list ion-icon{
    font-size: 23px;
}