h1{
    font-size: 36px;
}

.welcome-menu{
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.welcome-menu button{
    font-family: "Recursive";
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #D70900;
}